* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Raleway", Arial, Helvetica, sans-serif;
    overflow-wrap: break-word;
}

html {
    scroll-behavior: smooth;
}

:root {
    --bg-color: #ffffff;
    --text-color: #102e4a;
    --text-hover: #715aff;
    --text-accent: #a682ff;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
    height: 100vh;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    display: none;
}

.dark {
    --bg-color: #102e4a;
    --text-color: #ffffff;
    --text-hover: #a682ff;
    --text-accent: #5887ff;
}

.fill {
    height: 100%;
    width: 100%;
}
